[submodule "test_submodule_3"]
	path = test_submodule_3
	url = https://github.com/HL7Chile/test_submodule_3.git
[submodule "test_submodule_2"]
	path = test_submodule_2
	url = https://github.com/HL7Chile/test_submodule_2.git
